<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I was born and raised in the Philippines. I have always been out-going and found ways to go out my comfort zone. This has led me to moving to Japan and even becoming a Japanese citizen. I have been in the IT support industry for the majority of my professional career but coding has always piqued my interest. So I decided to take plunge into the world of 0s and 1s to have my go at it.</p>
      </div>
    </div>
  </div>
</div>
