<div class="row justify-content-center banner">
  <%#= image_tag 'cover.jpg', alt: "cover photo", class: 'cover' %>
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="shadow-lg p-1 mb-5 bg-body-tertiary rounded-circle"><%= image_tag 'headshot.png', alt: "profile photo", class: 'avatar-large ' %></div>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" >
      <p class="text-center">Center aligned text on all viewport sizes.</p>
      <h1 class="title-main">Junichi Kinami</h1>
      <h2>Rails Back-End Developer</h2>
    </div>
  </div>
</div>
