<div class="row justify-content-center banner">
  <%#= image_tag 'cover.jpg', alt: "cover photo", class: 'cover' %>
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="shadow-lg p-1 mb-5 bg-body-tertiary rounded-circle"><%= image_tag 'headshot.png', alt: "profile photo", class: 'avatar-large ' %></div>
    <div>
      <p class="text-center fs-1 title-main">Junichi Kinami</p>
      <p class="text-center fs-2">Rails Back-End Developer</p>
    </div>
  </div>
</div>
